{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>Yo Mama</title>
    <link rel="stylesheet" type="text/css" href=" {% static '/css/home.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
</head>

<style>
</style>

<body>


<div class="background"> <!-- Background Image in the back -->
    <img src="{% static 'images/super73.png' %}" class= "img_back" alt="Image"/> 
    <div class="overlay">


        <div id="banner"> <!-- Nav Bar -->

            <div class= "banner_left">
                {% comment %} Hamburger {% endcomment %}


                <button class="hamburger">
                    <div class="bar">
                        
                    </div>

                </button>

                


                <button class="nav_button"><img src="{% static 'images/search.png' %}" height= 20px width= 20px alt="Image"/> </button>
            </div>
            
            <div class= "banner_middle">
                <button class="home_button"> Oni Moto </button>
            </div>

            <div class= "banner_right">
                <button class="nav_button"> <img src="{% static 'images/personal.png' %}" height= 25px width= 25px alt="Image"/> </button>
                <button class="nav_button"> <img src="{% static 'images/shopping.png' %}" height= 25px width= 25px alt="Image"/> </button>
            </div>
        </div>
        
        

        <nav class="mobile-nav">
            <a href="#"> New! </a>
            <a href="#"> Best Selling </a>
            <a href="#"> Limited Time </a>
            <a href="#"> Discounted Rotations </a>
        </nav>

        <div class="bio"> <!-- Bio Section -->
            <div id="bio_font"> About Us </id>
            <br> <br>
            <div id="bio_font"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum blandit consectetur. Vivamus commodo ex eu lacus porttitor mollis. 
            Curabitur nec dignissim ante. Nunc dictum mattis nisi sit amet eleifend. Mauris quis neque porta, 
            blandit libero sed, suscipit lectus. 
            </div>
        </div>

    </div>
</div>

<div class="dynamic_background">
    <img src="{% static 'images/dynamic.jpeg' %}" class= "dynamic" alt="Image"/>

        <div class="wrap"> <!-- Wraps category and products -->

            <ul class="category">
                <h1 style="color:white;">Categories</h1>
                <li><button class="category_button"> Frames </button> </li>
                <li><button class="category_button"> Wheels </button> </li>
                <li><button class="category_button"> Signals </button> </li>
                <li><button class="category_button"> Seats </button> </li>
            </ul>

            <div class="wrap_child">
                <img src="{% static 'images/bike1.png' %}" class= "product_images" alt="Image"/> 
                    <p> Some text </p>
                <img src="{% static 'images/bike2.png' %}" class= "product_images" alt="image"/>
                    <p> Some text </p>
            </div>
        </div>
</div>


<script src="{% static 'js/main.js'%}"> </script>

</body>
</html>